.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://media.istockphoto.com/vectors/technology-shield-securityprotection-and-safe-concepton-light-blue-vector-id1066540702);

  background-size: 80%;
}

.App-container {
  background: rgba(0, 0, 0, 0.5);
}

.App input {
  display: block;
  padding: 10px;
  width: 200px;
  margin: 10px;
  font-size: 18px;
}

.App h1 {
  color: cyan;
}

.App h2 {
  color: gold;
}

.App-result {
  color: red;
  font-size: 32px;
}

.App-secure {
  width: 100px;
}
