.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://media.istockphoto.com/vectors/technology-shield-securityprotection-and-safe-concepton-light-blue-vector-id1066540702);
}

.App div {
  background: rgba(0, 0, 0, 0.5);
}

.App input {
  display: block;
  padding: 10px;
  width: 200px;
  margin: 10px;
}

.App-secure {
  width: 100px;
}

.App-debug {
  padding: 20px;
  color: grey;
}
